
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更</title>
    
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/takumi-design.css/change-Password.css" rel="stylesheet">
</head>
<body style="background-color: #F5F6F8;">

 <div class="container">
        <h1 style="text-align: center;">パスワード変更</h1>   
        <br>
   
    <form class="row g-3 ">
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">既存パスワード<a style="color: red;">*</a></label>
          <div class="input-group">
          <input type="password" class="form-control" id="exampleInputPassword1" required>
          {アカウント登録で入力したパスワードを表示}
          <span class="input-group-text" style="background-color: white;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
            </svg>
          </span>
          </div>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">新規パスワード<a style="color: red;">*</a></label>
            <div class="input-group">
            <input type="password" class="form-control" id="exampleInputPassword1" required>
            <span class="input-group-text" style="background-color: white;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
            </span>
            </div>
        </div>

        <a style="text-align: right;">パスワードをお忘れですか？</a>

        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary rounded-pill" style="width:50%;">登録</button>
        </div>
       
    </form>
</div>
     
    

</body>
</html>
 