
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"/>
    <link href="css/change_password.css" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <link href="css/header.css" rel="stylesheet">

</head>

<body style="background-color: #F5F6F8;">

 <div class="container">
        <h2 style="text-align: center;">パスワード変更</h2>
        <br>

    <form class="row g-3 ">

      <div class="mb-3">
        <label for="inputPassword" class="form-label">既存パスワード<a style="color: red;">*</a></label>
        <div class="input-group">
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="パスワードを入力してください"/>
        <i id="eyeIcon" class="bi bi-eye translate-middle position-absolute top-50 end-0"></i>
        </div>
     </div>

     <div class="mb-3">
            <label for="inputPassword" class="form-label">新規パスワード<a style="color: red;">*</a></label>
            <div class="input-group">
            <input type="password" class="form-control" id="inputPassword2" placeholder="パスワードを入力してください"/>
            <i id="eyeIcon2" class="bi bi-eye translate-middle position-absolute top-50 end-0"></i>
            </div>
      </div>

        <a  href="#" style="text-align: right;">パスワードをお忘れですか？</a>

        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary rounded-pill" style="width:50%;">登録</button>
        </div>

    </form>
</div>

{literal}
<script>
  //既存のパスワード表示,非常時
  // eyeIconのclickクリックイベント
  $("#eyeIcon").on("click", () => {
    // eyeIconのclass切り替え
    $("#eyeIcon").toggleClass("bi-eye-slash bi-eye");

  // inputのtype切り替え
  if ($("#inputPassword").attr("type") == "password") {
      $("#inputPassword").attr("type", "text");
  } else {
      $("#inputPassword").attr("type", "password");
  }
  });


  //新規のパスワード表示,非常時
   // eyeIconのclickクリックイベント
   $("#eyeIcon2").on("click", () => {
    // eyeIconのclass切り替え
    $("#eyeIcon2").toggleClass("bi-eye-slash bi-eye");

  // inputのtype切り替え
  if ($("#inputPassword2").attr("type") == "password") {
      $("#inputPassword2").attr("type", "text");
  } else {
      $("#inputPassword2").attr("type", "password");
  }
  });
</script>
{/literal}

</body>
</html>
