<footer style="background-color: rgb(35, 47, 62); text-align: center; color: aliceblue;  position: sticky; padding: 20px 0; width: 100%;"  >
    
    <a href="inquiry.php" color: #ffffff>お問い合わせ</a>
    <p><a href="privacy_policy.php" color: #ffffff>プライバシーポリシー</a></p>
    <p>© 2023, World Party, inc</p>

</footer>