<!-- ぱんクズ　-->
<div id="pan">
<table >
<tr>
<td><a href="admin_index.php">メインメニュー</a></td>
<td><a href="items_list.php">商品管理</a></td>
<td><a href="users_list.php">ユーザー管理</a></td>
<td><a href="admin_list.php">管理者管理</a></td>
<td><a href="admin.php">ログアウト</a></td>
</tr>
</table>
</div>
<!-- /ぱんクズ　-->
