
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録完了</title>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"/>

	<link href="css/header.css" rel="stylesheet">

    
    
</head>

<body >
	{include file="header.tmpl"}
	<div class="container" style="width: 800px;">
		<h1 style="text-align: center;">決済情報を更新しました</h1>   
		<br>

		<div style="text-align: center;">
			<button type="submit" class="btn btn-primary rounded-pill main-button" style="width:50%;" onclick="location.href='user_login.php'">トップページ</button>
		</div>
       
	</div>
	{include file="footer2.tmpl"}
</body>
</html>